<h1> <%= @article.title %> </h1>

<p> <%= @article.body %> </h1>

<ul>
    <li><%= link_to "Edit Article",edit_article_path %></li><br>
    <li><%= button_to "Delete Article",article_path,method: :delete %></li>
</ul>

<h2>Comments: </h2>
<% @article.comments.each do |comment|  %>
<div>
    <strong><%= comment.commentor %></strong> : <%= comment.body %> <br><br>
    <%= button_to "Delete Comment", [comment.article,comment], method: :delete %>
    <br>
</div>
<% end  %>

<h2> Add a Comment: </h2>

<%= render 'shared/commentsForm',article: @article %>